body{
    background: white;
    user-select: none;
    color: #272727;
}
h1 , h2{
    font-family: 'Roboto', sans-serif;
}
.home{
    background: url("../img/firefighters-rescued-survivors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 15% 0px 0px 20px;
    text-align: right;
}
.home .item h2{
    font-size: 55px;
    font-weight: bold;
}
.home .item small{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.home .item .btn{
    font-family: Montserrat;
    font-weight: bold;
}

/*====== FLEX IN ABOUT DIV ======*/

.about-div .row{
    display: flex;
    width: 100%;
    text-align: left;
    justify-content: space-around;
}
.about-div .row .item{
    width: 100%;
    margin-top: 50px;
}
.about-div .row .item img{
    width: 100%;
    border-radius: 50%;
    margin-top: 40px;
}
.about-div .row .item .info{
    border: 2px solid #4B4B4B;
    border-radius: 20px;
    padding: 5px;
    color: #4B4B4B;
    transition: all ease-in-out .4s;
}
.about-div .row .item .info:hover{
    background: #4B4B4B;
    border: none;
    color: white;
    border: 2px solid #4B4B4B;
    border-radius: 20px;
}
.about-div .row .item .info-1{
    transform: rotate(-10deg) translate(0px,-55px);
}
.about-div .row .item .info-2{
    transform: rotate(10deg) translate(0px,55px);
}
@media (max-width: 768px) {
  .about-div .row .item{
    width: 100%;
    margin: 0;
    text-align: center;
}
.about-div .row .item img{
  border-radius: 10px;
  margin-left: 12px;
  margin-top: -5px;
}
.about-div .row .item .info{
  margin-top: 55px;
  margin-left: 25px;
}
.about-div .row .item .info-1{
    transform: rotate(0deg) translate(0px,50px);
    margin-top: 25px;
}
.about-div .row .item .info-2{
    transform: rotate(0deg) translate(0px,-50px);
}
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  .services{
    margin-top: 50px;
  }
  .section-header {
    text-align: center;
    padding-bottom: 40px;
  }
  .section-header p {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4b4b4b;
    text-transform: uppercase;
  }
  .section-header h2 {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
  }
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
  color: #444444;
  background: transparent;
}
.services .service-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}
.services .service-box h3 {
  color: #444444;
  font-weight: 700;
}
.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}
.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}
.services .service-box.blue {
  border-bottom: 3px solid #2db6fa;
}
.services .service-box.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}
.services .service-box.blue .read-more {
  color: #2db6fa;
}
.services .service-box.blue:hover {
  background: #2db6fa;
}
.services .service-box.orange {
  border-bottom: 3px solid #f68c09;
}
.services .service-box.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}
.services .service-box.orange .read-more {
  color: #f68c09;
}
.services .service-box.orange:hover {
  background: #f68c09;
}
.services .service-box.green {
  border-bottom: 3px solid #08da4e;
}
.services .service-box.green .icon {
  color: #08da4e;
  background: #cffddf;
}
.services .service-box.green .read-more {
  color: #08da4e;
}
.services .service-box.green:hover {
  background: #08da4e;
}
.services .service-box.red {
  border-bottom: 3px solid #e9222c;
}
.services .service-box.red .icon {
  color: #e9222c;
  background: #fef7f8;
}
.services .service-box.red .read-more {
  color: #e9222c;
}
.services .service-box.red:hover {
  background: #e9222c;
}
.services .service-box.purple {
  border-bottom: 3px solid #b50edf;
}
.services .service-box.purple .icon {
  color: #b50edf;
  background: #f8e4fd;
}
.services .service-box.purple .read-more {
  color: #b50edf;
}
.services .service-box.purple:hover {
  background: #b50edf;
}
.services .service-box.pink {
  border-bottom: 3px solid #f51f9c;
}
.services .service-box.pink .icon {
  color: #f51f9c;
  background: #feecf7;
}
.services .service-box.pink .read-more {
  color: #f51f9c;
}
.services .service-box.pink:hover {
  background: #f51f9c;
}
.services .service-box:hover h3, .services .service-box:hover p, .services .service-box:hover .read-more {
  color: #fff;
}
.services .service-box:hover .icon {
  background: #fff;
}
@media (max-width: 768px) {
    .section-header p {
      font-size: 28px;
      line-height: 32px;
      font-weight: 400;
    }
  }