/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .container{
    box-shadow: none;
}
.call, .why-us .box{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.3s;
}
.call{
  margin: auto;
  padding-bottom: 15px;
}
.call:hover{
  padding-bottom: 0px;
}
.why-us .box {
    text-align: right;
    margin-top: 15px;
  }
  .why-us .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #1e4356;
  }
  .why-us .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #353535;
  }
  .why-us .box p {
    color: #919191;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  .why-us .box:hover, .call:hover {
    background: #1e4356;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  .why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p, .call:hover p, .call:hover h3 {
    color: #fff;
  }

  /* ====VIDEOS DIV STYLE==== */
  .videos .container .row .item .case-video{ 
    text-align: right;
    margin-top: 20px;
  }

  /* ====FORM STYLE==== */
  .location .container{
    text-align: center;
  }
  .location .container .send{
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
    padding: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
  }
 .location .container form{
    background: #1e4356;
    text-align: center;
    margin: auto;
    color: white;
    padding: 10px;
  }
  .location .container input{
    width: 80% !important;
    margin: auto;
  }
 

  /* ====MAPS DIV STYLE==== */
  .map{
    text-align: center;
  }
  .map iframe{
    height: 550px;
  }
  .map button{
    margin-bottom: 10px;
  }
 
  .none{
    display: none;
  }